<div class="container pt-6">
  <div class="row mt-4">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header bg-dark text-white fw-bold text-center">CREATE NEW PRODUCT</div>
        <div class="card-body bg-dark text-white fw-bold">
          <form>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Product Name"
                autocomplete="off"
                required
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Product Price"
                autocomplete="off"
                required
              />
            </div>
            <button type="submit" class="btn btn-success w-40">
              <i class="fa-solid fa-circle-plus"></i> Create Product
            </button>
          </form>
        </div>
        <div class="card-footer col bg-dark text-white fw-bold text-center">
            <button class="btn btn-primary w-40" routerLink="/">
              <i class="fa-sharp fa-solid fa-arrow-left "></i> Back
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
